.card {
    width: 300px;
    min-height: 300px;
}

.content {
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 6px;
}

.card:hover .content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.front,
.back {
    height: 100%;
    position: absolute;
    width: 100%;
    background: white;
    text-align: left;
    font-size: 60px;
    border-radius: 6px;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
    cursor: pointer;
}
