name: Build and deploy
on:
  push:
    branches: 
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    concurrency: ci-${{github.ref}}
    steps:
      - name: Install 
        run: |
          npm ci
          npm run predeploy
          npm run build
