name: Build and deploy
on:
  push:
    branches: 
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    concurrency: ci-${{github.ref}}
    steps:

    - name: Checkout
      uses: actions/checkout@v1
      with:
        persist-credentials: false
    
    - name: Setup Node
      uses: actions/setup-node@v1
      with:
        node-version: '10.x'
        
    - name: Install 
      run: |
        npm install
        
    - name: Predeploy
      run: |
        npm run predeploy
        
    - name: Deploy
      run: |
        npm run deploy
        
