name: Build and deploy
on:
  push:
    branches: 
      - master
      
permissions: 
  contents: read
  pages: read
  id-token: write
  
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    concurrency: ci-${{github.ref}}
    steps:

    - name: Checkout
      uses: actions/checkout@v1
      with:
        persist-credentials: false
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Setup Node
      uses: actions/setup-node@v1
      with:
        node-version: '16.14.0'
        
    - name: Install 
      run: |
        npm install
        
    - name: Predeploy
      run: |
        npm run predeploy
        
    - name: Deploy
      run: |
        git config --global user.email "nunofernandes08@hotmail.com"
        git config --global user.name "nunofernandes08"
        npm run deploy
        
